/scripts/
/log/
/config/
/own/
/send_mark
/jpanel/package-lock.json
/jpanel/yarn.lock
/jpanel/node_modules*
/jbot/test
/jbot/diy
!/jbot/diy/example.py
/jbot/__pycache__/
/jbot/bot/__pycache__/
/*session*
